*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #000;
}
.navbar-brand{
    font-size: 32px;
    font-weight: 700;
    color: #fff!important;

}
.nav-link{
    color: #Fff !important;
    font-size: 20px
}
.navbar{
    position: fixed;
    z-index: 100;
    width: 90%;
    background-color: #000;
}
.carousel-indicators li{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}
.fa-solid{
    color: tomato;
}
.navbar-nav{
    align-items: center;
}
.content{
    position: absolute;
    bottom: 100px;
    left: 200px;
    color: white;
}
.carousel-item img{
    width: 100%;
    height: 100vh;
}
.about{
    background: #000;
}
.img-area img{
    width: 100%;

}
.section-padding{
    padding: 80px 0;
    color: white;
}
.about-text h2{
    font-family: alfa slab one;
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px #fff;
    font-size: 60px;
}
.about-text p{
    line-height: 2;
}
.about-text a{
    margin-top: 30px;
}
/* services**/
.services{
    background: #000;
}
.section-header{
    text-align: center;
    margin-bottom: 30px;
}
.section-header h2{
    font-family: alfa slab one;
    font-size: 50px;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px #fff;
}
.card{
    background: #000;
}
.card img{
    width: 100%;
}
.card-title{
    font-size: 25px;
    padding: 15px 0;
}
.card.btn{
    margin-top: 30px;
}
/* portfolio**/
.portfolio{
    background: #000;
    text-align: center;
}
.portfolio img{
    width: 100%;
}
.section-headeer{
    text-align: center;
    margin-bottom: 30px;
}
.section-headeer h2{
    font-family: alfa slab one;
    font-size: 50px;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px #fff;
}
/** contact*/
.contact{
    background: #000;

}

.footer{
    background-color: #000;
    text-align: center;
}
.footer{
    color: #Fff;
}
@media(max-width:950px){
    .navbar{
        background-color: #000;
        width: 108%;
        position: relative;
        top: 0;
        left: -50px;
        position: fixed;

    }
    .fa-solid{
        font-size: 28px;
    }
    .navbar-brand{
        padding-left: 50px;
    }
}
@media(max-width:590px){
    .content{
        left: 20px;
    }
    .navbar-brand{
        font-size:25px;
        line-height: 30px;
        margin-left: -20px;
    }
    .nav-link{
        font-size: 15px;
    }
    .navbar{
        position: relative;
        width: 110%;
        left: -20px;
        top: 0;
        position: fixed;
        height: 50px;
        background-color: #000;
    }
    .navbar-nav{
        background-color: #000;
    }
    .fa-solid{
        font-size: 22px;
    }
}
